<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>test03</display-name>

	<servlet>
		<servlet-name>emps</servlet-name>
		<servlet-class>servlet.EmployeeServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>emps</servlet-name>
		<url-pattern>/ES</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>dep</servlet-name>
		<servlet-class>servlet.DepartmentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>dep</servlet-name>
		<url-pattern>/DS</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>pro</servlet-name>
		<servlet-class>servlet.ProjectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>pro</servlet-name>
		<url-pattern>/PS</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>d2p</servlet-name>
		<servlet-class>servlet.D2PServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>d2p</servlet-name>
		<url-pattern>/DPS</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>bd</servlet-name>
		<servlet-class>servlet.BaiduServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>bd</servlet-name>
		<url-pattern>/baidu</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Index</servlet-name>
		<servlet-class>servlet.IndexServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Index</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>score</servlet-name>
		<servlet-class>servlet.ScoreServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>score</servlet-name>
		<url-pattern>/SS</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>user</servlet-name>
		<servlet-class>servlet.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>user</servlet-name>
		<url-pattern>/US</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>filter</filter-name>
		<filter-class>filter.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>filter</filter-name>
		<url-pattern>/ES</url-pattern>
		<url-pattern>/DS</url-pattern>
		<url-pattern>/PS</url-pattern>
		<url-pattern>/DPS</url-pattern>
		<url-pattern>/index</url-pattern>
		<url-pattern>/SS</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>listener.CountListener</listener-class>
	</listener>
	<session-config>
		<session-timeout>1</session-timeout>
	</session-config>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>